/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* Ensure the body and html take full height */
}

body {
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}

header {
    background-color: #0c1d36;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links a:hover {
    color: white;
    border-bottom: 2px solid white;
}

.main-content {
    flex: 1; /* This makes the main content area expand to fill the space */
    padding: 20px; /* Adds padding around the main content */
}

/* Footer styles */
.footer-container {
    background-color: #0c1d36;
    padding: 6px 0;
    color: white;
    text-align: center;
    margin-top: auto; /* Ensures the footer stays at the bottom */
    width: 100%;
}

.footer-content {
    max-width: 640px;
    margin: 0 auto;
}

.footer-heading {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    font-size: 0.8em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #61dafb;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-bottom {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #ccc;
}

.footer-bottom p {
    margin-bottom: 10px;
}

.footer-bottom .footer-links {
    display: flex;
    justify-content: center;
}

.footer-bottom .footer-links span {
    margin: 0 10px;
    cursor: pointer;
}

.footer-bottom .footer-links span:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
    }
}
