.contact h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}
.contact{
    margin-bottom: 50px;
}
.contact p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.contact h3{
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem;
}
.links p{
    margin-top: 30px;
}

.connection{
    margin-top: 50px;
    text-align: center;
}
.connection input{
    width: 30%;
    height: 40px;
    margin-top: 17px;
    border: 0.5px solid rgb(8, 179, 231) !important;
    box-shadow: 2px 5px 5px rgba(8, 179, 231, 0.5);
    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;

}
.connection label{
    font-size: 1.2rem;
    color: rgb(8, 179, 231);
    margin-right: 10px;
    margin-top: 20px;
    display: inline-block;
}
.connection textarea{
    width: 28%;
    height: 100px;
    margin-top: 17px;
    border: 0.5px solid rgb(8, 179, 231) !important;
    box-shadow: 2px 5px 5px rgba(8, 179, 231, 0.5);
    font-size: 20px;
    padding-left: 10px;
    padding-top: 70px;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}
button{
    width : 100px;
    height: 35px;
   min-width:fit-content ;
    box-shadow: 2px 5px 5px rgba(8, 179, 231, 0.5);
    border-radius: 5px;
    border: none;
    background-color: rgb(8, 179, 231);
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;

}

.social-icons a{
    margin-top: 10px;
    margin-left: 5px;
    font-size: large;
}
.links h4{
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
}